* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-content {
  display: grid;
  grid-template: 1fr / 1fr 4fr;
}
.sidebar {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr;
  grid-row-gap: 15px;
}
.logo {
  grid-area: 1/1/2/2;
}
.tabs {
  grid-area: 2/1/3/2;
}
.settings {
  grid-area: 3/1/4/2;
}
.content {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 25px 1fr;
}
.header {
  grid-area: 1/1/2/2;
  display: grid;
  grid-auto-flow: column;
}
.menu {
  grid-area: 2/1/3/2;
}
.menu-buttons {
  display: grid;
}
.article {
  grid-area: 3/1/4/2;
}